@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
html {
  font-family: 'Inter', sans-serif;
}

#__next {
  height: 100vh;
  max-width: 500px;

  @apply mx-auto;
}
